h1 {
    font-weight: bold;
    font-size: 50px;
}

body {
    margin: auto;
    color: whitesmoke;
    background: black;
    text-align: left;
    
}

li {
    color: yellow;
}

a {
    background: gray;
}

a:hover {
    background: red;
    color: white;
}